<%= form_for @user do |f| %>
        <div>
            <% if @user.errors.any? %>
                <h4><%= pluralize(@user.errors.count, "error") %> prevented this from saving</h4>
                <ul>
                    <%= @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                <ul>
            <% end %> 
        </div>
        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>
        
        <p>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </p>
        
        <p>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </p>
        
        <p>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </p>
        
        <p>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </p>
        
        <p>
            <%= f.submit %>
        </p>
    <% end %>