<h1 align="center">All Our Current Users</h1>

<h4 align="center"><%= @users.count %> users</h4>
<h3 align="center"><%= link_to "Add User", new_user_path %></h3>
<table align="center">
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
        </tr>
    <% end %>
</table>