<div align="center">
    <%= form_for @company do |f| %>
        <div>
            <% if @company.errors.any? %>
                <h4><%= pluralize(@company.errors.count, "error") %> prevented this from saving</h4>
                <ul>
                    <%= @company.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                <ul>
            <% end %> 
        </div>
        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>
        
        <p>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </p>
        
        <p>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
        </p>
        
        <p>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </p> 
        
        <p>
            <%= f.label :year_established %>
            <%= f.text_field :year_established %>
        </p>
        
        <p>
            <%= f.label :service %>
            <%= f.text_field :service %>
        </p>
        
        <p>
            <%= f.submit %>
        </p>
        
    <% end %>
</div>